In [1]:
import requests # for making API requests
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import json

In [2]:
github_api_response = [
    {
        "id": 123,
        "name": "data-engineering-project",
        "full_name": "aungzaw/data-engineering-project",
        "owner": {"login": "aungzaw", "id": 789},
        "private": False,
        "description": "ETL practice project",
        "stargazers_count": 42,
        "forks_count": 10,
        "created_at": "2023-01-01T10:00:00Z"
    },
    {
        "id": 456,
        "name": "analytics-dashboard",
        "owner": {"login": "aungzaw", "id": 789},
        "private": True,
        "stargazers_count": 15,
        "forks_count": 5,
        "created_at": None
    }
]


# Transform: Convert JSON to Pandas DataFrame
records = []
for item in github_api_response:
    record = {
        "id":item.get("id"),
        "name":item.get("name"),
        "owner_login_name":item.get("owner",{}).get("login"),
        "owner_login_id":item.get("owner",{}).get("id"),
        "private":item.get("private"),
        "stargazers_count":item.get("stargazers_count"),
        "forks_count":item.get("forks_count"),
        "created_at":item.get("created_at"),
        
    }
    
    records.append(record)
    print(record)  # Print each record for debugging

{'id': 123, 'name': 'data-engineering-project', 'owner_login_name': 'aungzaw', 'owner_login_id': 789, 'private': False, 'stargazers_count': 42, 'forks_count': 10, 'created_at': '2023-01-01T10:00:00Z'}
{'id': 456, 'name': 'analytics-dashboard', 'owner_login_name': 'aungzaw', 'owner_login_id': 789, 'private': True, 'stargazers_count': 15, 'forks_count': 5, 'created_at': None}

In [3]:
# save records to a DataFrame
df = pd.DataFrame(records)
df

,id,name,owner_login_name,owner_login_id,private,stargazers_count,forks_count,created_at
0,123,data-engineering-project,aungzaw,789,False,42,10,2023-01-01T10:00:00Z
1,456,analytics-dashboard,aungzaw,789,True,15,5,None