In [1]:
import requests # for making API requests
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import json

In [2]:
finance_api_response = [
    {
        "symbol": "AAPL",
        "price": 172.3,
        "open": 170.0,
        "high": 173.5,
        "low": 169.8,
        "volume": 50000000,
        "timestamp": 1694937600
    },
    {
        "symbol": "TSLA",
        "price": 250.0,
        "open": 248.5,
        "high": None,
        "low": 245.0,
        "volume": None,
        "timestamp": None
    }
]


# convert the API response to a DataFrame
# before inserting into the dataframe, flatten the JSON data

records = []
for item in finance_api_response:
    record = {
        "symbol": item["symbol"],
        "price": item["price"],
        "open": item["open"],
        "high": item["high"],
        "low": item["low"],
        "volume": item["volume"],
        "timestamp": item["timestamp"]
    }
    records.append(record)

df = pd.DataFrame(records)
df

  symbol  price   open   high    low      volume     timestamp
0   AAPL  172.3  170.0  173.5  169.8  50000000.0  1.694938e+09
1   TSLA  250.0  248.5    NaN  245.0         NaN           NaN