In [6]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("practice.db") # Connect to SQLite database stored in practice.db

# Query data
query = "SELECT * FROM employees WHERE salary > 55000"
df = pd.read_sql_query(query, conn)

print(df)


# Query2 data
query = "SELECT count(*) FROM employees WHERE salary"
# check the query result
count_df = pd.read_sql_query(query, conn)
print(count_df)

conn.close() # Close the connection


# Optional: write back to DB
# df.to_sql("high_salary_employees", conn, if_exists="replace", index=False)

   emp_id emp_name       dept  salary
0       1    Alice         IT   70000
1       3  Charlie    Finance   60000
2       5   Edward         IT   72000
3       6    Fiona    Finance   58000
4       8   Hannah  Marketing   60000
   count(*)
0         8